nav {
	margin-left: 55%;
	margin-top: -45%;
	background-color: black;
}

nav a {
	padding: 0.5em 0;
	color: red;
	text-align: center;
	display: inline-block;
	background-color: darkblue;
	border-radius: 25px;
	margin: 4px;
	padding: 1em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
}
nav a:hover {
	background-color: darkslateblue;
}

nav a:active {
	box-shadow: 0 0 0 white;
	margin: 6px 10px 2px 10px;
	background-color: rgb(55, 47, 107);
}

nav ul {
	list-style-type: none;
}

nav span {
	margin-bottom: 6px;
}
